#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/**Views*/

h1 {
  font-size: calc(1.3rem + .6vw);
  text-align: left;
}

.delete, .edit {
  text-align: center;
  font-size: 18px;
  padding: 10px;
  border-radius: 5px;
  color: #FFF;
  cursor: pointer;
}

.delete {
  background-color: #d43737;
}

.delete:hover {
  background-color: #802727;
}

.edit {
  background-color: rgb(36, 139, 36);
}

.edit:hover {
  background-color: rgb(27, 92, 27);
}

/* Home */

.admin-links {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* Login */
.login-body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.login-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1em;
  width: 80%;
}

a:visited {
  color: inherit;
}

.login-img {
  width: 100%;
}

.login-img img {
  width: 100%;
  height: 100%;
}

.form {
  width: 100%;
  background-color: #fff;
  order: 1;
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding: 0 1em 0 1em;
}

.login-user {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2em;
}

.login-user input {
  width: 100%;
  padding: 1em;
  border: none;
  outline: none;
  border-bottom: 2px solid #000;
}

.login-user input:focus {
  border: 2px solid #000;
  background-color: #f4f5f0;
}

.login-user button {
  width: 100%;
  padding: 1em;
  border: none;
  outline: none;
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

.login-user button:hover {
  background-color: #a2a790;
}

.btn-form {
  background-color: #fff;
  cursor: pointer;
}

.form-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  transition: all 0.5s ease-in-out;
  position: relative;
  overflow: hidden;
}


#login {
  /*display: none;*/
}

#login .login-img {
  order: 2; 
  transition: all 0.8s ease;
}

#sign-up .login-img {
  transition: all 0.8s ease;
}

.moving-img {
  position: absolute;
  width: 50%; 
  height: 100%; 
  transition: transform 0.8s ease;
}
#forgotpass-btn {
  margin-right: auto;
  margin-left: 20px;
  font-size: 0.8rem;
  color: #507db9;
}

#forgotpass-btn:hover {
  color: #8d9ba4;
  border-bottom: 2px solid #8d9ba4;
  transition: border-bottom 100ms ease-in;
}

.btn-sign, .btn {
  font-size: 1rem;
}

#signup-btn, #login-btn {
  justify-content: center;
}

#signup-btn:hover, #login-btn:hover {
  border: 1px solid #000;
}

/*Assign Classes*/

.major-btns  {
  margin: 10px;
}

.courses {
  overflow: scroll;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.highlighted {
  background-color: rgb(146, 146, 136); 
}

.courses input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none; /* For older versions of webkit browsers */
  -moz-appearance: none; /* For Firefox */
  /* Add custom styling here */
}

.courses_form {
  display: flex;
  justify-content: center;
}

/*Registar Home Page*/

.section-card {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding: 10px;
  height: auto;
}

.course-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  width: 200px;
  height: 250px;
  margin: 10px;
}

.course-card .red {
  color: red;
}

.course-card:hover {
  transform: translateY(-4px);
}

.course-card h3 {
  margin-bottom: 8px;
  padding-bottom: 8px;
  color: #333;
  border-bottom: 1px solid #696666;
}

.details {
  margin-top: 16px;
}

.details p {
  margin-bottom: 4px;
  color: #666;
}

.details p strong {
  color: #333;
}

.schedules-table {
  margin-bottom: 10px;
  padding: 20px;
}

.total-credits strong {
  width: 80px;
}
